{
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "printWidth": 200,
    "semi": false,
    "singleAttributePerLine": false,
    "tabWidth": 4,
    "useTabs": true,
    "trailingComma": "es5",
    "singleQuote": true
}