.create{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: max-content !important;
	height: max-content !important;

	&__bg{
		position: absolute;
		height: 100vh;
		width: 100vw;
		display: flex;
		background: url('../../assets/images/background-publish.svg');

		&>img{
			flex: 1;
			object-fit: cover;
			object-position: top;
		}
	}

	&__head{
		height: 12rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
	}

	&__data{
		width: 100%;
		min-height: calc(100vh - 12rem);
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		width: 100%;
		padding-bottom: 4.8rem;

		@include respond(phone){flex-direction: column;}

		&__form{
			flex: 1;
			max-width: 80rem;

			@include respond(phone){max-width: 100%; width: 100%;}

			&__cta{
				width: 32%;
			}
		}

		&__preview{
			flex: 1;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			@include respond(tabPort){margin-top: 4.8rem;}

			&>img{
				height: calc(100vh - 28rem);
				width: 100%;
				object-fit: contain;
			}
	
			&__item{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				border-radius: 1.2rem;
				overflow: hidden;
				width: 40rem;
				border: 0.1rem solid rgba($color-black, 0.08);
				height: fit-content;
				background-color: $color-white;

				&__cover{
					width: 100%;
					height: 64rem;
					min-height: 64rem;
					width: 40rem;
					object-fit: cover;
				}

				&__data{
					padding: 0.8rem;
					&>p{margin-bottom: 0;}

					&__author{
						text-transform: uppercase;
						font-size: 1.2rem;
						font-weight: 600;
						color: rgba($color-black, 0.64)
					}

					&__name{ text-transform: capitalize; }
				}

				&__action{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 0 0.8rem 0.8rem;

					&__price{
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}

}