.index{
	
	&__hero{
		min-height: calc(100vh - 6.4rem);
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		@include respond(phone){ flex-direction: column; }
	}

	&__section{
		margin: 8rem 0;
	}

	&__collection{
		width: 100%;

		&:not(:last-child){margin-bottom: 4.8rem;}

		&__head{ margin-bottom: 2.4rem; }

		&__books{
			width: 100%;
			overflow: scroll;
			
			&__wrapper{
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-start;
				width: max-content;
			}

			&__item{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				border-radius: 1.2rem;
				overflow: hidden;
				border: 0.1rem solid rgba($color-black, 0.08);
				height: fit-content;
				cursor: pointer;

				&:not(:last-child){ margin-right: 4rem; }

				&__cover{
					width: calc(((100vw - (32rem + ((4rem)*4)))/5));
					height: calc(((100vw - (32rem + ((4rem)*4)))/5)*1.6);
					object-fit: cover;

					@include respond(desk){
						width: calc(((100vw - (16rem + ((4rem)*4)))/5));
						height: calc(((100vw - (16rem + ((4rem)*4)))/5)*1.6);
					}
					@include respond(retinaBig){
						width: calc(((100vw - (24rem + ((4rem)*4)))/5));
						height: calc(((100vw - (24rem + ((4rem)*4)))/5)*1.6);
					}
					@include respond(tabLand){
						width: calc(((100vw - (8rem + ((4rem)*4)))/1.5));
						height: calc(((100vw - (8rem + ((4rem)*4)))/1.5)*1.6);
					}
				}

				&__data{
					padding: 0.8rem;
					margin-bottom: auto;
					&>p{margin-bottom: 0;}

					&__author{
						text-transform: uppercase;
						font-size: 1.2rem;
						font-weight: 600;
						color: rgba($color-black, 0.64)
					}

					&__name{ text-transform: capitalize; }
				}

				&__action{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					padding: 0 0.8rem 0.8rem;

					&__price{
						margin-bottom: 0 !important;
					}
				}
			}
		}
	}

	&__bg{
		z-index: -100;
		position: absolute;
		top:0;
		left:0;
		width: 100vw;
		overflow: hidden;

		@include respond(phone){ height: calc(100vh - 6.4rem); }

		&>img{
			object-fit: contain;
			width: 100%;
			content: url('../../assets/images/background-hero.png');
			
			@include respond(phone){
				height: 100%;
				width: unset;
				object-fit: cover;
				content: url('../../assets/images/background-hero-phone.svg');
			}
		}
	}

	&__content{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		@include respond(phone){ margin-bottom: 4.8rem; }

		&__container{
			&__row{
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				margin-top: 4rem;
	
				&>div{ &:not(:last-child){ margin-right: 2.4rem; } }
			}
		}

	}

	&__book{
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		&__container{
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			min-height: 48rem;
			min-width: 75rem;

			@include respond(phone){
				min-height: 32rem;
				min-width: 50rem;
			}

			&__item{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				border-radius: 1.2rem;
				overflow: hidden;
				width: 30rem;
				border: 0.1rem solid rgba($color-black, 0.08);
				height: fit-content;
				box-shadow: 0 0.2rem 1.6rem rgba($color-black, 0.24);
				cursor: pointer;
				transition: all 0.4s ease-in-out;

				@include respond(phone){width: 20rem;}

				&:nth-child(1){
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-125%) scale(0.75);
					&:hover{
						z-index: 15;
						transform: scale(1) translateX(-115%);
					}
				}
				&:nth-child(2){
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%) scale(0.9);
					z-index: 10;
					&:hover{
						z-index: 15;
						transform: scale(1) translateX(-50%);
					}
				}
				&:nth-child(3){
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(25%) scale(0.75);
					&:hover{
						z-index: 15;
						transform: scale(1) translateX(15%);
					}
				}
				&:nth-child(4){display: none;}
				&:nth-child(5){display: none;}
	
				&__cover{
					height: 48rem;
					width: 30rem;
					object-fit: cover;
					
					@include respond(phone){
						height: 32rem;
						width: 20rem;
					}
				}
	
				&__data{
					width: 100%;
					padding: 0.8rem;
					background-color: $color-white;
					&>p{margin-bottom: 0;}
	
					&__author{
						text-transform: uppercase;
						font-size: 1.2rem;
						font-weight: 600;
						color: rgba($color-black, 0.64)
					}

					&__name{ text-transform: capitalize; }
				}
			}
		}
	}
}