.profile {
   padding-top: 4rem ;

    &__container {
        width: 100% ;
        display: flex ;

        @include respond(tabPort){
            flex-direction: column ;
        }
    }

    &__left {
        flex: 3 ;
        display: flex ;
        align-items: center ;
        flex-direction: column ;
        margin-bottom: 4rem ;

        &__avatar {
            width: 24rem ;
            height: 24rem ;
            border-radius: 100rem ;
            box-shadow: $shadow-md;
            background-color: $color-white ;
        }

        &>*+* {
            margin-top: 2rem ;
        }
    }

    &__details {
        flex: 6 ;

        @include respond(tabLand){
            width: 100% ;
            max-width: 64rem ;
            margin: 0 auto;
            margin-bottom: 8rem ;
        }

        &__header {
            display: flex ;
            align-items: center;
            justify-content: space-between ;
            color: $color-neutral-700 ;
            margin: 3rem 0;
        }

        &__header:first-child {
            margin-top: 0 ;
        }

        &__connect {
            border: 0.2rem solid $color-neutral-200;
            width: 100% ;
            padding: 1rem ;
            border-radius: 1rem ;
            color: $color-neutral-500;
            display: flex ;
            align-items: center ;

            &__icon {
                width : 5rem ;
                height: 5rem ;
                flex: 0 0 5rem;
                display: flex ;
                align-items: center ;
                justify-content: center ;
            }

            &__label {
                flex: 1 ;
            }
        }

        &__connect + &__connect {
            margin-top: 2rem ;
        }
    }

    &__spacer {
        flex: 3 ;
        @include respond(tabLand){
            display: none;
        }
    }
}
