.reader{

	&__content{
		height: calc( 100vh - 6.4rem );
		width: 100%;

		&__wrapper{
			height: 100%;
			width: 100%;

			&__page{
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.react-pdf__Page__canvas{
					// height: 100% !important;
					// width: 100% !important;
					
				}
			}
		}
	}

	&__nav{
		height: 6.4rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		box-shadow: 0 -0.2rem 1.6rem rgba($color-black, 0.1);
		z-index: 100;
	}
}