$color-primary: #ffa046;
$color-secondary: #528cf0;
$color-accent-1: #7569de;
$color-accent-2: #fe6845;
$color-accent-3: #f8cb50;
$color-accent-4: #9ecb45;
$color-black: #202124;
$color-white: #FFFFFF;

$color-red: #ff5722;
$color-green: #aeea00;
$color-yellow: #ffd600;
$color-blue: #00b0ff;

/*	FONT SIZES	*/
$text-default-size: 1.6rem;

/* Neutrals */
$hue : 218 ;
$color-neutral-100 : hsl($hue,18%,100%) ;
$color-neutral-200 : hsl($hue,16%,90%) ;
$color-neutral-300 : hsl($hue,14%,80%) ;
$color-neutral-500 : hsl($hue,12%,40%) ;
$color-neutral-700 : hsl($hue,14%,25%) ;
$color-neutral-800 : hsl($hue,14%,16%) ;
$color-neutral-900 : hsl($hue,18%,10%) ;