.w3a-modal{
    z-index: 999999!important;
}
.w3a-button:nth-child(2){
    color: white!important;
    background-color: #fe6845!important;
}
.w3a-button:nth-child(3){
    color: white!important;
    background-color: #fe6845!important;
}