.book-item {
    --cover-size : 20rem ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
    cursor: pointer;
    position: relative ;
    width: var(--cover-size);

	&[data-layout="GRID"]{
		.book-item__data{
			padding: 1rem 0;
		}
	}

    &[data-layout="LIST"] {
        flex-direction: row ;
        --cover-size : 16rem ;
        width: 100% ;
        padding: 1.5rem ;
        .book-item__data {
            margin-left: 3rem ;
            &__synopsis{
                display: block ;
                max-width: 80ch ;
            }
        }
    }

    @include respond(phone) {
        --cover-size : calc(50vw - 3rem) ;
    }

    &__cover{
        border-radius: 0.8rem ;
        width  : calc(var(--cover-size));
        height : calc(var(--cover-size) * 1.6);
        object-fit: cover;
        box-shadow: $shadow-lg;
    }

    &__data{
        width: 100% ;
        margin-bottom: auto;
        &>p{margin-bottom: 0;}

        &__price {
            padding: 0.4rem 0rem ;
            width: min-content ;
            color: #fff ;
            display: flex ;
            align-items: center ;
            border-radius: 0.8rem ;

            > svg {
                margin-right: 0.5rem ;
            }

            &--free {
            }
        }

        &__review {
            padding: 0.4rem 0rem ;
            width: min-content ;
            display: flex ;
            align-items: center ;
            border-radius: 0.8rem ;
			white-space: nowrap ;

            > svg {
                margin-right: 0.5rem ;
            }
        }

        &__rejected {
            padding: 0.4rem 0rem ;
            width: min-content ;
            display: flex ;
            align-items: center ;
            border-radius: 0.8rem ;
			white-space: nowrap ;

            > svg {
                margin-right: 0.5rem ;
            }
        }

        &__author{
            color: $color-neutral-400
        }

        &__name{ 
            word-break: break-word ;
            line-height: 1.25 ;
        }

        &__synopsis{
			margin-top: 0.4rem;
            display: none ;
        }
    }

}
