.button{
	border-radius: 8px  ;
	padding: 1.5rem 2rem;
	font-size: 2rem ;
	font-weight: 700 ;
	border: none ;
	cursor: pointer ;
	font-family: 'Poppins', sans-serif;
	white-space: nowrap ;
	text-shadow: none ;
 
	&--primary{
		background-color: $color-primary;
		color: $color-white ;
		background: linear-gradient(to right,$color-primary,$color-primary-dark);

		&:active{
			background-color: $color-primary;
		}

		&--white {
			background: none ;
			background-color: $color-white ;
			color: $color-blue ;
		}
	}

	&--secondary{
		background-color: transparent ;
		border: none ;
		box-shadow: inset 0 0 0 2px $color-primary ;
		color: $color-primary;

		&:active{
			background-color: $color-primary;
			color: $color-white ;
		}

		&--2{
			box-shadow: inset 0 0 0 2px $color-white ;
			color: $color-white;

			&:hover {
				background-color: $color-white;
				color: $color-blue ;
			}
		}

		&--3{
			padding: 0.4rem 1.2rem;
			width: 12rem;
			min-width: unset;
		}
	}

	&--text {
		font-weight: 500 ;
		color: $color-neutral-500 ;

		&:hover {
			color: $color-neutral-700 ;
			background-color: $color-neutral-200 ;
		}
	}

	&--disabled{
		cursor: not-allowed;
	}

	&--icon {
		position: relative ;
		min-width: 0 ;
		width : 4rem ;
		height: 4rem ;
		padding: 0 ;
		flex: 0 0 4rem ;
		display: flex ;
		align-items: center ;
		justify-content: center ;
		color: $color-neutral-500;
		border-radius: 4px ;
		cursor: pointer ;

		&>svg {
			width: 75% ;
		}

		&:hover {
			background-color: $color-neutral-200 ;
			color: $color-neutral-900;
		}
	}
}