
.dropdown {
	position: relative ;
	height: 3.5rem ;
	display: flex ;
	align-items: center ;

	&__title {
		display: flex ;
		align-items: center ;
		cursor: pointer ;

		&>svg {
			width : 3.5rem ;
			height : 3.5rem ;
			padding: 0 ;
			margin: 0 ;
		}
	}

	&__options {
		position: absolute ;
		top: calc(100% + 1rem) ;
		right: 0 ;
		background-color: $color-white ;
		padding: 1rem ;
		border-radius: 4px ;
		filter: drop-shadow( 0 0 1rem rgba($color-black,0.2));
		transform: scale(0);
		opacity: 0 ;
		color: $color-black ;
		transition: all 100ms ease-out ;
		transform-origin: 100% 0% ;
		cursor: pointer ;
		min-width: 16rem ;
		
		&--open {
			transform: scale(1);
			opacity: 1 ;
			pointer-events: all ;
		}

		&__item {
			padding: 1rem ;
			border-radius: 4px ;
			color: $color-neutral-500 ;

			&:hover {
				background-color: $color-neutral-200;
				color: $color-neutral-900 ;
			}
		}

		&::before {
			content: "" ;
			position: absolute ;
			right: 0.8rem ;
			top: -0.5rem ;
			width: 2rem ;
			height: 2rem ;
			border-radius: 2px ;
			transform: rotate(45deg);
			background-color: inherit ;
			z-index: -1 ;
		}
	}

	&--open {
		z-index: 100 ;
		cursor: default ;
	}

	&--open > &__backdrop {
		position: fixed ;
		top: 0 ;
		left: 0 ;
		width: 100vw ;
		height: 100vh ;
		z-index: -1 ;
	}

}
