.file-input {
	border-radius: 0.8rem;
	border: 0.2rem solid $color-neutral-200;
	padding: 0.24rem 1rem ;
	display: flex ;
	background-color: $color-white ;


	&> .button {
		width: min-content ;
		padding: 1rem 2rem ;
		border-radius: 0.4rem ;
		min-width: 0 ;
	}

	&__hidden-input {
		display: none ;
	}

	&__file-name {
		flex: 1 ;
		display: flex ;
		align-items: center;
		margin-left: 1.5rem ;
	}
}