.modal__purchase{

	&__tabs{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		overflow: hidden;
		border: none ;

		&__item{
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.15s ease-out;
			padding: 1rem 0;
			border-radius: 0.4rem ;
			font-weight: 600 ;
			color: $color-neutral-500 ;

			&:hover {
				background-color: $color-neutral-200 ;
			}

			&--active{
				background: linear-gradient(to right,$color-primary,$color-primary-dark);
				color: $color-white;
			}
		}
	}

	&__data{
		margin-top: 2rem;
		
		&__book{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;

			&__cover{
				margin-right: 2.4rem;

				&>img{
					height: 16rem;
					width: 10rem;
					object-fit: contain;
					border-radius: 0.4rem;
				}
			}
		}

		&__cta{
			margin-top: 1rem;
		}

		&__offers{
			
			
			&__item{
				padding: 1rem ;
				border-radius: 0.8rem ;

				&:not(:last-child){ margin-bottom: 0.8rem; }
				&:hover { background-color: $color-neutral-200 ; }

				&__cta{
					margin-top: 1.2rem;
					width: 50%;
				}
			}
		}
	}

}

.modal__sharelist{
	text-align: center;
	&__field{
		&__input{
			width: 85%;
		}
		&__iconfield{
			position: relative;
			&__copyicon{
				margin-left: 0.8rem;
				position: absolute;
				top: 50%;
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		
	}
	
	
}