.quotes {

    &__discussions{
        margin-left: 2.4rem;
        color: #8d96a5;
        display:flex;
    font-weight: 500;

        &__count{
            margin-left: 1rem
        }
    }
    
    &__input{
        display: block;
        padding-bottom: 16px;

        &__text-input{
            resize: none;
            width: 100%;
            padding: 8px;
            font-family: 'Poppins', sans-serif;
        }

        &__button{
            margin-top: 4px;
            left: 75%;
            border-radius: 20px;
        }
    }

    &__view-all{

        &__button{
            position: absolute;
            left: 4%;
            bottom: 0.5%;
        }
    }

    &__item {
        position: relative ;
        padding: 1.5rem ;
        display: flex;
        cursor: pointer;
        // background-color: $color-neutral-100;
        border-radius: 1.5rem ;
        &__icon {
            position: absolute ;
            transform: translate(-30%,-30%);
            color: $color-neutral-500;
        }

        &__body{
            padding-top: 4px;
            padding-left: 2rem;
        }

        &__time {
            padding: 4px 16px;
            position: absolute ;
            right: 0 ;
            top: 0 ;
        }

        &__section{
            padding: 16px 12px 10px;

            &__comment-div{
                padding: 16px 4px;
                display:flex;

                &__input {
                    appearance: none ;
                    --webkit-appearance :none;
                    width: 100% ;
                    height: 3rem ;
                    border-radius: 2rem ;
                    background-color: $color-neutral-200 ;
                    padding: 0 1rem 0 2rem ;
                    border: none ;
                }

                &__action{
                    
                    padding-left: 2px;
                    color: $color-neutral-400;
                    cursor: pointer;
                }
            }

            

            &__icons{
                padding-bottom: 16px;
                color: $color-neutral-400;
                display: flex;
            }

            &__icon{
                display: flex;
                padding-left: 12px;

                &__action{
                    padding-left: 12px;
                    display: flex;
                    color: $color-neutral-400;
                    cursor: pointer;
                }
            
                &__comment{
                    display: flex;
                    color:$color-neutral-400;
                }
                
            }
        }
    }

    &__item + &__item {
        margin-top: 2rem ;
    }

    &__comments{
        padding-bottom: 12px;

        &__thread{
            padding-left: 24px;
            padding-top: 16px;
        }

        &__icon{
            display: flex;
            color: $color-neutral-500;
        }

        &__text{
            color:$color-black;
            font-size: 12px;
            padding-left: 8px;
            padding-top: 4px;
        }

        &__body{
            border-left: 2px solid $color-neutral-300;
            margin-left: 10px;
            padding-left: 16px;
            font-size: 1.4rem;
        }
    }
}