.stats-marquee {
    display: flex;
    bottom: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 700;
    background: $color-primary;
    margin-top: 8rem;


   
    &__ticker{
        color: #fff;
        position: relative;
        animation: animate 30s linear infinite;
        margin-left:4px;
        margin-top: 8px;
        white-space: nowrap;
    }

       @keyframes animate {
        0% {
            transform:  translateZ(0);
        }
        100% {
            transform: translate3d(-400%,0,0);
        }
       }

    &__item{
        margin-left: 8px;
        margin-right: 8px;
    }
}